
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #d1d3d9;
}
body{
    background: #101628;
    padding: 0 35px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
             'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
             'Helvetica Neue', Arial, sans-serif;
}
h2{
    color: #e4e6ea;
}



